@media screen and (min-width: 768px) {
  html {
    font-size: 56.25%;
  }

  .container {
    padding: 0 4.8rem;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .hero-text-box {
    justify-self: end;
  }

  .hero-download {
    justify-content: space-around;
  }

  .gallery {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 5.6rem;
  }

  .gallery-item {
    overflow: hidden;
    /* width: 12.8rem; */
    height: 24rem;
  }

  .how-img-box {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 8rem;
  }

  .pricing-plan {
    border-radius: 11px;
    width: 70%;
  }

  .pricing-plan--free {
    justify-self: end;
  }

  .pricing-plan--plus {
    justify-self: start;
  }

  .testimonials-container {
    flex-direction: row;
  }
}
